img     {
    width: 500px;
    margin-left: 300px;
    margin-right: 150px;
 }
 
 
 main {
    display: flex;
    justify-content: space-between;
 }
 
 
 ul {
    display: flex;
    flex-direction: column;
    
 }
 
 
 #div2 {
    justify-content: space-between;
    margin: 15px;
 }
 
 
 
 a {
    padding: 30px;
    justify-content: space-between;
    margin: 5px 20px 5px 20px;
    font-size: 15px;
    background-color: white;
    border-radius: 15px;
    font-family: poppinsregular;
    font-weight: bold;
    text-decoration: none;
    color: black;
 }
  
 a:hover {
    cursor: pointer;
    color: white;
    background-color: black;
    transition: 0.7s;
 }
 
 body {
    background-color: grey;
    font-family: poppinsregular;
 }
 